*~
.*.swp
Makefile
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/debian/files
/debian/vyatta-keepalived*
/debian/patches*
/debian/stamp*
/keepalived.spec
/keepalived/include/config.h
/keepalived/libipvs-2.6/*.a
/keepalived/*.o
/keepalived/check/*.o
/keepalived/core/*.o
/keepalived/vrrp/*.o
/lib/*.o
/genhash/*.o
/bin/*
/ID
/TAGS